@import './bootstrap-variables';
@import './bootstrap-custom';

body {
  padding: 20px;
}

footer {
  text-align: right;
}

canvas {
  background-color: #fffbcc;
  border: 1px solid #dfe2e5;
}

.lr-slot-container {
  display: flex;
  width: 594px;
  & > div {
    //width: 198px;
    margin: 0 auto;
    & > button {
      display: block;
      margin: 0 auto;
    }
  }
}

.lr-btns,
.lr-speed {
  width: 594px;
  text-align: center;
  * {
    margin: 15px;
  }
  > input[type='range'] {
    width: 40%;
    margin: 10px auto;
    display: inline-block;
  }
}

.excellent-default {
  display: none;
  position: absolute;
}

.excellent {
  font-size: 5em;
  font-weight: bold;
  color: #009dff;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 6s;
  animation-name: excellent;
}

@keyframes excellent {
  from { top: 45%; left: 35%; transform: scale(0) rotate(0deg); }
  50%  { top: 45%; left: 35%; transform: scale(1) rotate(-720deg); }
  to   { top: 45%; left: 35%; transform: scale(1) rotate(-720deg); }
}
